

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="form-group">
            <label for="pName">Product Name</label>
            <input type="text" [disabled]="!canEdit" #pName [value]="pObj?pObj.pName :''" 
            id="pName" placeholder="Product Name" class="form-control">
        </div>
        <div class="form-group">
            <label for="pName">Product Status</label>
            <select #status [disabled]="!canEdit" class="form-control" 
            [value]="pObj?pObj.pStatus :''">
                <option value="Inprogress">In progress</option>
                <option value="Dispatched">Dispatched</option>
                <option value="Delivered">Delivered</option>
            </select>
        </div>
        <div class="text-right">
            <ng-container  *ngIf="pId; else noProd">
                <button class="btn btn-info" [disabled]="!canEdit" (click)="onUpdateProduct(pName ,status)">Update Product</button>
            </ng-container>
        </div>
    </div>
</div>
<ng-template #noProd>
    <button class="btn btn-info" (click)="onAddProduct(pName ,status)">Added Product</button>
</ng-template>