

<div class="main">
    <div class="card auth-form">
        <div class="card-body">
            <div class="logIn" *ngIf="allReadyHadAccount">
                <h3 class="mb-3">Log In</h3>
                <div class="mb3">
                    <label for="email"></label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" #userName placeholder="User Name">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-user-plus"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mb3">
                    <label for="password"></label>
                    <div class="input-group mb-3">
                        <input [type]="passType ? 'password' : 'text'" 
                        class="form-control" #password 
                        placeholder="Password"
                        appBlockCopyPaste
                        >
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" (click)="onLock()">
                                <i class="fa-solid" [ngClass]="vissible ? 'fa-lock' : 'fa-unlock'"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-outline-primary"
                    (click)="onLogIn(userName.value,password.value)"
                    >Log In</button>
                </div>
                
            </div>


            <div class="signUp" *ngIf="!allReadyHadAccount">
                <h3 class="mb-3">Sign Up</h3>
                <div class="mb3">
                    <label for="email"></label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus"></i></span>
                        </div>
                    </div>
                </div>
                <div class="mb3">
                    <label for="password"></label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control"
                        appBlockCopyPaste
                        placeholder="Conform Password">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" (click)="onLock()">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mb3">
                    <label for="password"></label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control"
                        appBlockCopyPaste
                        placeholder="Password">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" (click)="onLock()">
                                <i class="fa-solid fa-lock"></i></span>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-outline-primary">Sign Up</button>
                </div> 
            </div>

            <p *ngIf="allReadyHadAccount">
                <a href="javaScript:;"
                (click)="allReadyHadAccount = !allReadyHadAccount"
                >
                    Don't have account yet
                </a>
            </p>

            <p *ngIf="!allReadyHadAccount">
                <a href="javaScript:;"
                (click)="allReadyHadAccount = !allReadyHadAccount"
                >
                    Already had account
                </a>
            </p>
        </div>
    </div>
</div>
